// This is where we put global styles and change variables values

// Import fonts
@import url('https://fonts.googleapis.com/css2?family=Knewave&family=Lato&display=swap');

// Update Bulma's global variables
$family-sans-serif: "Lato";
$primary: #fff;
$link: #FF9494;

// Update some of the Bulma's component variables
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// Set custom global styles (will be applied to whole app)

body {
  background-color: #18206F;
}

html, body {
  height: 100%;
}
